<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PeakLand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- import our CSS for body of the page -->
    <link rel="stylesheet" href="../static/css/body.css" type="text/css"/>

</head>
<body>
{{template "header.html"}}

<div class="row fill">
    <div class="col-3 background-orange">
        <div class="container">
            <div class="row mx-auto" style="padding-top: 30%; padding-left: 10%; padding-right: 10%">
                <div class="col" align="center">A mountain path you know is not in the system yet?</div>
            </div>
            <div class="row mx-auto" style="padding-top: 25%; padding-left: 10%; padding-right: 10%">
                <div class="col" align="center">Add it and its information to earn awesome badges</div>
            </div>
            <div class="row mx-auto" style="padding-top: 35%; padding-left: 2%; padding-right: 2%">
                <div class="col" align="center" style="font-size: 150%;">Help the community to grow!</div>
            </div>
        </div>
    </div>

    <div class="col-9">

                    <!-- form to insert new path info -->
                    <div class="container" style="padding-top: 3%">
                       {{/* <form class="form-inline" method="post">
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Mountain path name</div>
                                <div class="col-3"><input type="text" class="form-control" name="name" placeholder="Name"></div>
                                <div class="col-2"><button type="submit" class="btn btn-light-orange">Verify</button></div>
                            </div>
                        </form>*/}}

                        <form class="form-inline" name="infoForm" id="infoForm" method="post" enctype="multipart/form-data">

                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Mountain path name</div>
                                <div class="col-3"><input type="text" class="form-control" name="name" placeholder="Name"></div>
{{/*                                <div class="col-2"><button type="submit" class="btn btn-light-orange">Verify</button></div>*/}}
                            </div>

                            <div disabled class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Altitude</div>
                                <div class="col-3"><input type="number" class="form-control" name="altitude" placeholder="in meters"></div>
                            </div>
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Location</div>
                                <div class="col-3"><input type="text" class="form-control" name="region" placeholder="Region"></div>
                                <div class="col-3"><input type="text" class="form-control" name="province" placeholder="Province"></div>
                                <div class="col-3"><input type="text" class="form-control" name="city" placeholder="City"></div>
                            </div>
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Lenght</div>
                                <div class="col-3"><input type="number" class="form-control" name="lenght" placeholder="in kilometers"></div>
                            </div>
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="d-flex">
                                    <div class="col-3 green-text">Difficulty level</div>
                                    <div class="form-check form-check-inline">
                                        <input name="level" type="radio" id="T" value="T">
                                        <label>T</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="level" type="radio" id="E" value="E">
                                        <label>E</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="level" type="radio" id="EE" value="EE">
                                        <label>EE</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="level" type="radio" id="EEA" value="EEA">
                                        <label>EEA</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="d-flex">
                                    <div class="col-3 green-text">Cycle path</div>
                                    <div class="form-check form-check-inline">
                                        <input name="cycleble" type="radio" id="true" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="cycleble" type="radio" id="false" value="false">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="d-flex">
                                    <div class="col-3 green-text">Presence of historycal elements</div>
                                    <div class="form-check form-check-inline">
                                        <input name="historicalElements" type="radio" id="true" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="historicalElements" type="radio" id="false" value="false">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="d-flex">
                                    <div class="col-3 green-text">Family suitable</div>
                                    <div class="form-check form-check-inline">
                                        <input name="familySuitable" type="radio" id="true" value="true">
                                        <label>Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="familySuitable" type="radio" id="false" value="false">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>
                            {{/*<div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="d-flex">
                                    <div class="col-3 green-text">Image of the path</div>
                                    <input type="file" name="pathPhoto" value="pathPhoto" multiple="multiple"/>
                                </div>
                            </div>*/}}
                            <div class="container" style="text-align: center;">
                                <input type="submit" name="savePath" value="Save path" class="btn btn-light-orange"/>
{{/*                                <input type="submit" name="addReview" value="Add Review" class="btn btn-light-orange"/>*/}}
                            </div>
                        </form>
                        <br>
                    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>