<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PeakLand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- import our CSS for body of the page -->
    <link rel="stylesheet" href="../static/css/body.css" type="text/css"/>

</head>
<body>
{{template "header.html"}}

<div class="row fill">
    <div class="col-3 background-orange">
        <div class="container">
            <div class="row mx-auto" style="padding-top: 30%; padding-left: 10%; padding-right: 10%">
                <div class="col" align="center">A mountain path you know is not in the system yet?</div>
            </div>
            <div class="row mx-auto" style="padding-top: 25%; padding-left: 10%; padding-right: 10%">
                <div class="col" align="center">Add it and its information to earn awesome badges</div>
            </div>
            <div class="row mx-auto" style="padding-top: 35%; padding-left: 2%; padding-right: 2%">
                <div class="col" align="center" style="font-size: 150%;">Help the community to grow!</div>
            </div>
        </div>
    </div>

    <div class="col-9">
{{/*        <%*/}}
{{/*        if (request.getParameter("name") != null) {*/}}
{{/*        if (addPathController.checkName(request.getParameter("name"))) {*/}}
{{/*        disable = false;*/}}
{{/*        session.setAttribute("disable", disable);*/}}
{{/*        session.setAttribute("name", (String)request.getParameter("name"));*/}}
{{/*        }*/}}
{{/*        else {*/}}
{{/*        disable = true;*/}}
{{/*        session.setAttribute("disable", disable);*/}}
{{/*        %>*/}}
{{/*        <div  class="container" style="padding-top: 3%;">
            <div id="invalidName" class="hid alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Add new path error!</strong> Mountain path with entered name already exists.
                <a href="#" class="close" style="float: right;" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        </div>
        <script>if (validName !== true){
                document.getElementById("invalidName").display = "block"
        }</script>*/}}

{{/*        <%*/}}
{{/*        }*/}}
{{/*        }*/}}

{{/*        boolean isMultipart = ServletFileUpload.isMultipartContent(request);*/}}
{{/*        if (isMultipart) {*/}}
{{/*        List<Part> partList = (List<Part>) request.getParts();*/}}
{{/*                List<InputStream> streamList = new ArrayList<>();*/}}

{{/*                    for (Part part : partList) {*/}}
{{/*                    if (part.getName().equals("pathPhoto") ) {*/}}
{{/*                    if (part.getSubmittedFileName() != "") {*/}}
{{/*                    try {*/}}
{{/*                    InputStream fileContent = part.getInputStream();*/}}
{{/*                    streamList.add(fileContent);*/}}
{{/*                    } catch(Exception e) {*/}}
{{/*                    %>*/}}
                    {{/*<div class="container" style="padding-top: 3%;">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>System error</strong>Ops, there was an error uploading the photos. Retry later.
                            <a href="#" class="close" style="float: right;" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                    </div>*/}}
{{/*                    <%*/}}
{{/*                    }*/}}
{{/*                    }*/}}
{{/*                    }*/}}
{{/*                    }*/}}
{{/*                    try {*/}}
{{/*                    addPathController.setMountainPathImages(streamList);*/}}
{{/*                    } catch (TooManyImagesException e) {*/}}
{{/*                    %>*/}}
{{/*                    <div class="container" style="padding-top: 3%;">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Load error</strong>Too many images selected.
                            <a href="#" class="close" style="float: right;" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                    </div>*/}}
{{/*                    <%*/}}
{{/*                    }*/}}
{{/*                    try {*/}}
{{/*                    addPathController.saveNewMountainPath(newPath, (Integer)session.getAttribute("sessionId"));*/}}
{{/*                    %>*/}}
                    {{/*<div class="container" style="padding-top: 3%;">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>New path added successfully!</strong> Now you can add a review.
                            <a href="#" class="close" style="float: right;" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                    </div>*/}}
{{/*                    <%*/}}
{{/*                    } catch (DatabaseException e) {*/}}
{{/*                    %>*/}}
                    {{/*<div class="container" style="padding-top: 3%;">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Database error</strong>Ops, there was an error connecting to database. Retry later
                            <a href="#" class="close" style="float: right;" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                    </div>*/}}
{{/*                    <%*/}}
{{/*                    } catch(SystemException e) {*/}}
{{/*                    %>*/}}
                    {{/*<div class="container" style="padding-top: 3%;">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>System error</strong>Ops, there was a system error. Retry later.
                            <a href="#" class="close" style="float: right;" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                    </div>*/}}
{{/*                    <%*/}}
{{/*                    }*/}}

{{/*                    disableAddReview = false;*/}}
{{/*                    session.setAttribute("disableAddReview", disableAddReview);*/}}
{{/*                    }*/}}
{{/*                    %>*/}}

                    <!-- form to insert new path info -->
                    <div class="container" style="padding-top: 3%">
                       {{/* <form class="form-inline" method="post">
                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Mountain path name</div>
                                <div class="col-3"><input type="text" class="form-control" name="name" placeholder="Name"></div>
                                <div class="col-2"><button type="submit" class="btn btn-light-orange">Verify</button></div>
                            </div>
                        </form>*/}}

                        <form class="form-inline" name="infoForm" id="infoForm" method="post" enctype="multipart/form-data">

                            <div class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Mountain path name</div>
                                <div class="col-3"><input type="text" class="form-control" name="name" value="{{.pathname.Name}}" disabled></div>
{{/*                                <div class="col-2"><button type="submit" class="btn btn-light-orange">Verify</button></div>*/}}
                            </div>

                            <div disabled class="row mx-auto" style="padding-bottom: 3%;">
                                <div class="col-3 green-text">Date</div>
                                <div class="col-3"><input type="datetime-local" class="form-control" name="visitTime" placeholder="Data and time"></div>
                            </div>

                            <div class="container" style="text-align: center;">
                                <input type="submit" name="saveVisit" value="Save visit" class="btn btn-light-orange"/>
                            </div>
                        </form>
                        <br>
                    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>