<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PeakLand</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- import our CSS for header of our site -->
  <link rel="stylesheet" href="../static/css/header.css" type="text/css"/>

  <!-- import our CSS for body of the page -->
  <link rel="stylesheet" href="../static/css/body.css" type="text/css"/>
</head>
<body>
<div>
  {{template "header.html"}}
<div class="row fill">
  <div class="col-3 background-orange">
    <div class="container">
      <div class="row mx-auto" style="padding-top: 40%; padding-left: 2%; padding-right: 2%">
        <div class="col" align="center" style="font-size: 150%;">
          Enter your preferences and let us help you find the perfect mountain path for you!
        </div>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="container" style="padding-top: 3%">
      <form class="form-inline" method="post">
          <div class="row mx-auto" style="padding-bottom: 3%;">
            <div class="col-3 black-text">Location</div>
            <div class="col-3"><input type="text" class="form-control" id="region" name="region" placeholder="Region"></div>
            <div class="col-3"><input type="text" class="form-control" name="province" placeholder="Province"></div>
            <div class="col-3"><input type="text" class="form-control" name="city" placeholder="City"></div>
          </div>

          <div class="row mx-auto" style="padding-bottom: 3%;">
            <div class="d-flex">
              <div class="col-3 black-text">Difficulty level</div>
              <div class="form-check form-check-inline">
                <input name="level" type="radio" id="T" value="T">
                <label>T</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="level" type="radio" id="E" value="E">
                <label>E</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="level" type="radio" id="EE" value="EE">
                <label>EE</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="level" type="radio" id="EEA" value="EEA">
                <label>EEA</label>
              </div>
            </div>
          </div>

          <div class="row mx-auto" style="padding-bottom: 3%;">
            <div class="d-flex">
              <div class="col-3 black-text">Cycle path</div>
              <div class="form-check form-check-inline">
                <input name="cycleble" type="radio" id="true" value="1">
                <label>Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="cycleble" type="radio" id="false" value="-1">
                <label>No</label>
              </div>
            </div>
          </div>

          <div class="row mx-auto" style="padding-bottom: 3%;">
            <div class="d-flex">
              <div class="col-3 black-text">Presence of historycal elements</div>
              <div class="form-check form-check-inline">
                <input name="historicalElements" type="radio" id="true" value="1">
                <label>Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="historicalElements" type="radio" id="false" value="-1">
                <label>No</label>
              </div>
            </div>
          </div>

          <div class="row mx-auto" style="padding-bottom: 3%;">
            <div class="d-flex">
              <div class="col-3 black-text">Family suitable</div>
              <div class="form-check form-check-inline">
                <input name="familySuitable" type="radio" id="true" value="1">
                <label>Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="familySuitable" type="radio" id="false" value="-1">
                <label>No</label>
              </div>
            </div>
          </div>
          <div class="container" style="text-align: center; padding-top: 5%;">
            <button type="submit" id="assRes" name="assRes" class="btn btn-light-orange">Search</button>
          </div>
        </form>
    </div>

  </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>