<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PeakLand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <!-- import our CSS for body of the page -->
    <link rel="stylesheet" href="../static/css/body.css" type="text/css"/>
</head>
<body>
{{template "header.html"}}
    <div class="row fill">
        <div class="col-3 background-orange">
            <button onclick="window.open('viewInfo','_self')" name="backInfo" class="btn justify-content-start align-items-center" style="display: flex; justify-content: flex-start;"><img src="../static/img/back.png" onclick= "window.open('viewInfo','_self')" width="35%"></button>
            <div class="container">
                <div class="row mx-auto" style="padding-top: 40%; padding-left: 10%; padding-right: 10%">
                    <div class="col" align="center" style="font-size: 150%;">Here the weather forecast for the next seven days</div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <!-- search results -->

            <div class="container" id="resultsContainer">
                <div id=results class="row justify-content-center" style="padding-top:10%"></div>
                <script> if (forecasts.length === 0){
                        document.getElementById("results").style.display = "No matches found"
                    }</script>

                {{range $val := .forecasts}}

                <div class="container">
                    <div class="row card-view-simple-path rounded">
                        <div class="col align-items-center">
                            <div class="row justify-content-center" style="padding-bottom: 1%; padding-top:1%">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="ml-auto w-100 p-2 bd-highlight">
                                        <div class="path-name-font" id="forecastCardView" align="left" style="padding-left: 5%;">{{$val.Date}}</div>
                                    </div>

                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 2%;">
                                <div class="col-3" align="center" style="padding-bottom: 1%;width: 100px; margin: 0px 20px 0px 40px">
                                    <div class="row justify-content-center">
                                        <img src="../static/img/temperature.png" width="64" height="64">
                                    </div>
                                    <div class="row justify-content-center" style="margin: 10px">{{$val.Temperature}}°C</div>
                                </div>
                                <div class="col-3" align="center" style="padding-bottom: 1%;width: 100px; margin: 0 20px">
                                    <div class="row justify-content-center">
                                        <img src="../static/img/cloudy.png" width="64" height="64">
                                    </div>
                                    <div class="row justify-content-center" style="margin: 10px">{{$val.Cloudy}}%</div>
                                </div>
                                <div class="col-3" align="center" style="padding-bottom: 1%;width: 100px; margin: 0 20px">
                                    <div class="row justify-content-center" >
                                        <img src="../static/img/rainy.png" width="64" height="64" >
                                    </div>
                                    <div class="row justify-content-center" style="margin: 10px">{{$val.Rainy}}mm</div>
                                </div>
                                <div class="col-3" align="center" style="padding-bottom: 1%; width: 100px; margin: 0 20px">
                                    <div class="row justify-content-center" >
                                        <img src="../static/img/wind.png" width="64" height="64" >
                                    </div>
                                    <div class="row justify-content-center" style="margin: 10px">{{$val.Wind}}km/h</div>
                                </div>
                                <div class="col-3" align="center" style="padding-bottom: 1%; width: 100px; margin: 0 20px">
                                    <div class="row justify-content-center" >
                                        <img src="../static/img/humidity.png" width="64" height="64">
                                    </div>
                                    <div class="row justify-content-center" style="margin: 10px">{{$val.Humidity}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>