<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PeakLand</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header.css" type="text/css"/>

    <!-- import our CSS for body of the page -->
    <link rel="stylesheet" href="../static/css/body.css" type="text/css"/>
</head>
<body>
<div>
    {{template "header.html"}}

    <div class="row fill">
        <div class="col-3 background-orange">
            <button onclick="window.open('searchPath','_self')" name="back"
                    class="btn justify-content-start align-items-center"
                    style="display: flex; justify-content: flex-start;"><img src="../static/img/back.png" width="35%">
            </button>

            <div class="container">
                <div class="row mx-auto" style="padding-top: 6%;">
                    <div class="col-xs-1 center-block" align="center">
                        <span class="path-name-font" name="pathname" value="pathname">{{.path.Name}}</span>
                    </div>
                </div>
                <div class="row mx-auto" style="padding-top: 15%;">
                    <div class="col-5" align="center">
                        {{.path.Region}}
                    </div>
                    <div class="col" align="center">-</div>
                    <div class="col-5" align="center">
                        {{.path.Province}}
                    </div>
                </div>
                <div class="row mx-auto" style="padding-top: 5%;">
                    <div class="col" align="center">
                        {{.path.City}}
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center" style="padding-top: 15%;">
                    <div class="p-2 flex-item-photos">
                        <img src="../static/img/mountain_path.png" class="img-responsive photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="p-2 flex-item-icon">
                                <img src="../static/img/info.png" class="img-responsive icons">
                            </div>
                            <div class="p-2 flex-item-text pull-left text">About the scheduled visit</div>
                        </div>

                        <br>

                        <div class="container">
                            <div class="row">
                                <p class="green-text">Visit path&nbsp;&nbsp;&nbsp;&nbsp;<span class="black-text">{{.visit.ID_Path}}</span>
                                </p>
                            </div>
                            <div class="row">
                                <p class="green-text">Host&nbsp;&nbsp;&nbsp;&nbsp;<span class="black-text">{{.visit.Creator}}</span>
                                </p>
                            </div>
                            <div class="row">
                                <p class="green-text">Date and time&nbsp;&nbsp;&nbsp;&nbsp;<span class="black-text">{{.visit.Timestamp}}</span>
                                </p>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="col-sm">

                        <br>

                        <div class="container" id="resultsContainer">
                            <div id=results class="row justify-content-center" style="padding-top:10%"></div>
                            <script> if (visits.length === 0) {
                                document.getElementById("results").style.display = "No matches found"
                            }</script>

                            <div class="row justify-content-center" style="padding-bottom: 1%; padding-top:1%">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="ml-auto w-100 p-2 bd-highlight">
                                        <div class="path-name-font">Participants</div>
                                    </div>
                                </div>
                            </div>

                            {{range $val := .visit.Participants}}

                            <div class="container">
                                <div class="row card-view-simple-path rounded">
                                    <div class="col align-items-center">
                                        <div class="row" style="padding-bottom: 2%;">
                                            <div class="col-12" align="center" style="padding-bottom: 1%;">
                                                <div class="row justify-content-center bold-text">{{$val}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                            <br>
                            {{if .isCreator}}
                            <form class="form" method="post">
                                <div class="col align-items-center">
                                    <div class="row" style="padding-bottom: 2%;">
                                        <div class="col-6" align="center" style="padding-bottom: 1%;">
                                            <input type="text" class="row justify-content-center bold-text" name="invitedUser" placeholder="Invite a friend"></input>
                                        </div>
                                        <div class="col-6" align="center">
                                            <input type=submit name="path" value="Invite" style="min-width: 100%;min-height: 100%"></input>
                                        </div>
                                    </div>
                                    <div class="col-6" align="center" style="padding-bottom: 1%;">
                                        {{.Phrase.Value}}
                                    </div>
                                </div>
                            </form>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>