<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PeakLand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/header.css" type="text/css"/>

    <!-- import our CSS for body of the page -->
    <link rel="stylesheet" href="../static/css/body.css" type="text/css"/>
</head>
<body>
<div>
    {{template "header.html"}}

    <div class="row fill">
        <div class="col-3 background-orange">
            <button onclick="window.open('searchPath','_self')" name="back"
                    class="btn justify-content-start align-items-center"
                    style="display: flex; justify-content: flex-start;"><img src="../static/img/back.png" width="35%">
            </button>
            <div class="container">
                <div class="row mx-auto" style="padding-top: 6%;">
                    <div class="col-xs-1 center-block" align="center">
                        <span class="path-name-font" name="pathname" value="pathname">{{.path.Name}}</span>
                    </div>
                </div>
                <div class="row mx-auto" style="padding-top: 15%;">
                    <div class="col-5" align="center">
                        {{.path.Region}}
                    </div>
                    <div class="col" align="center">-</div>
                    <div class="col-5" align="center">
                        {{.path.Province}}
                    </div>
                </div>
                <div class="row mx-auto" style="padding-top: 5%;">
                    <div class="col" align="center">
                        {{.path.City}}
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center" style="padding-top: 15%;">
                    <div class="p-2 flex-item-photos">
                        <img src="../static/img/mountain_path.png" class="img-responsive photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="p-2 flex-item-icon">
                                <img src="../static/img/info.png" class="img-responsive icons">
                            </div>
                            <div class="p-2 flex-item-text pull-left text">About the mountain path</div>
                        </div>

                        <br>

                        <div class="container">
                            <div class="row">
                                <p class="green-text">Altitude&nbsp;&nbsp;&nbsp;&nbsp;<span class="black-text">{{.path.Altitude}}</span>
                                </p>
                            </div>
                            <div class="row">
                                <p class="green-text">Level&nbsp;&nbsp;&nbsp;&nbsp;<span class="black-text">{{.path.Level}}</span>
                                </p>
                            </div>
                            <div class="row">
                                <p class="green-text">Cyclable&nbsp;&nbsp;&nbsp;&nbsp;<span class="black-text">{{.path.Cyclable}}</span>
                                </p>
                            </div>
                            <div class="row">
                                <p class="green-text">Presence of historical elements&nbsp;&nbsp;&nbsp;&nbsp;<span
                                        class="black-text">{{.path.Historical}}</span></p>
                            </div>
                            <div class="row">
                                <p class="green-text">Family suitable&nbsp;&nbsp;&nbsp;&nbsp;<span class="black-text">{{.path.Family}}</span>
                                </p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm">
                        <br>
                        <div class="container">
                            <form class="form" method="post">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="p-2 flex-item-link">
                                        <button type="submit" class="btn" name="addReview" value="addReview"><img
                                                src="../static/img/good-quality.png"
                                                class="img-responsive flex-item-link"></button>
                                    </div>
                                    <div class="p-2 flex-item-link">
                                        <button type="submit" class="btn" name="addNewVisit" value="addNewVisit"><img
                                                src="../static/img/new-path.png" class="img-responsive flex-item-link">
                                        </button>
                                    </div>
                                    <div class="p-2 flex-item-link">
                                        <button type="submit" class="btn" name="viewForecast" value="viewForecast"><img
                                                src="../static/img/apple-weather.png" class="img-responsive"></button>
                                    </div>
                                    <div class="p-2" style="max-width: 30%; max-height: 30%;">
                                        <button type="submit" class="btn" name="viewReviews" value="viewReviews"><img
                                                src="../static/img/list.png" class="img-responsive flex-item-link">
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="black-text" style="text-align: center;">Add review</div>
                                    </div>
                                    <div class="col-3">
                                        <div class="black-text" style="text-align: center;">Organize a visit</div>
                                    </div>
                                    <div class="col-3">
                                        <div class="black-text" style="text-align: center;">View weather forecast</div>
                                    </div>
                                    <div class="col-3">
                                        <div class="black-text" style="text-align: center;">View reviews</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>